/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/

.windowsCustom {
    background-color: #f8f9fa;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-container > div {
    text-align: center;
    line-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container .title {
    flex-grow: 9;
    text-align: left;
}

.flex-container .action {
    flex-grow: 1;
}

#submissionTable2 td,
th {
    width: 10%;
}
